.bg_dark {
    background-color: #2C3E50;
}

.bg_grey {
    background-color: #3A546D;
}

.bg_green {
    background-color: #1ABC9C;
}

.star_icon {
    position: relative;
    font-size: 1.5rem;
}

.star_icon::before {
    content: '';
    display: block;
    height: 3px;
    width: 70px;
    background-color: currentColor;
    position: absolute;
    right: 120%;
    top: 50%;
}

.star_icon::after {
    content: '';
    display: block;
    height: 3px;
    width: 70px;
    background-color: currentColor;
    position: absolute;
    left: 120%;
    top: 50%;
}

/* JUMBO  */
.jumbo_img-wrapper {
    width: 220px;
}

#jumbotron .col {
    gap: 10px;
}

/* PORTFOLIO  */
.portfolio_card {
    overflow: hidden;
    border-radius: 10px;
}

/* CONTATTI */
#contact input, #contact textarea {
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
}



/* RESPONSIVE */
@media all and (min-width:768px) {
    .about_text {
        column-count: 2;
        column-gap: 1.5rem;
        /* text-align: justify; */
    }
}







/* debug */
/* .container {
    border: 1px solid black
}

.row {
    border: 1px solid red
}

[class*="col"] {
    border: 1px dashed blue;
} */