.bg-dark {
    background-color: #2C3E50;
}

.bg-grey {
    background-color: #3A546D;
}

.bg-green {
    background-color: #1ABC9C;
}

.main-header {
    color: white;
}

.main-header .row {
    min-height: 90px;
}

#jumbotron {
    min-height: 590px;
}

.portfolio_card {
    min-height: 260px;
    background-color: grey;
    border-radius: 5px;
}

#contact .container {
    max-width: 985px;
}

#contact {
    min-height: 400px;
}

footer {
    color: white;
}




@media all and (min-width:768px) {
    .about_text {
        column-count: 2;
        column-gap: 1.5rem;
        /* text-align: justify; */
    }
}







/* debug */
/* .container {
    border: 1px solid black;
    min-height: 100px;
}

.row {
    border: 1px solid red;
    min-height: 100px;
}

[class*="col"] {
    border: 1px dashed blue;
} */