.bg_dark {
    background-color: #2C3E50;
}

.bg_grey {
    background-color: #3A546D;
}

.bg_green {
    background-color: #1ABC9C;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
}

.star_icon {
    position: relative;
    font-size: 1.5rem;
}

.star_icon::before {
    content: '';
    display: block;
    height: 3px;
    width: 70px;
    background-color: currentColor;
    position: absolute;
    right: 120%;
    top: 50%;
}

.star_icon::after {
    content: '';
    display: block;
    height: 3px;
    width: 70px;
    background-color: currentColor;
    position: absolute;
    left: 120%;
    top: 50%;
}

/* JUMBO  */
.jumbo_img-wrapper {
    width: 150px;
}

#jumbotron .col {
    gap: 10px;
}

/* PORTFOLIO  */
.portfolio_card {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.card_overlay {
    background-color: rgba(26, 188, 156, 0.4);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.card_overlay i {
    font-size: calc(80px + 2vw);
    color: white;
}

.card_overlay:hover {
    opacity: 1;
}

/* CONTATTI */
#contact input, #contact textarea {
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
}

/* FOOTER */
.social_link {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
}

.bootstrap_link {
    color: #1ABC9C;
}



/* RESPONSIVE */
@media all and (min-width:768px) {
    .about_text {
        column-count: 2;
        column-gap: 1.5rem;
        /* text-align: justify; */
    }
}







/* debug */
/* .container {
    border: 1px solid black
}

.row {
    border: 1px solid red
}

[class*="col"] {
    border: 1px dashed blue;
} */